<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DB APP</title>
    <link rel="icon" th:href="@{/img/hebra.png}" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
</head>

<body class="light">
<!-- =========== loading =================-->
<div id="loading-indicator" class="loading-container">
    <svg class="circular" width="48px" height="48px">
        <circle class="pathBg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"></circle>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#099b48"></circle>
    </svg>
</div>
<!-- ======= navbar ======= -->
<nav id="navbar" class="display_flex flex_direction_column justify_content_space_between">
    <div>
        <div id="Company_logo" class="display_flex align_items_center justify_content_center">
            Company Logo
        </div>
        <ul id="navbar_items">
            <li>
                <a href="/" >
                    <i class="bi bi-house"></i>
                    <span>خانه</span>
                </a>
            </li>
            <li>
                <a href="/products" >
                    <i class="bi bi-broadcast"></i>
                    <span>اجناس</span>
                </a>
            </li>
            <li>
                <a href="/sales" >
                    <i class="bi bi-cash"></i>
                    <span>فروشات</span>
                </a>
            </li>
            <li class="active">
                <a href="/about" >
                    <i class="bi bi-info-circle"></i>
                    <span>درباره</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="author">دیزاین و توسعه
        <b>Ali Herawi</b>
    </div>
</nav>
<main id="main" style="display: flex; align-items: center; justify-content: center">
   صفحه در باره

</main>
<script src="/js/script.js"></script>
</body>
</html>